@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* <!-- Add work-sans-font -- >  */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0px;
}

/* Shared styles */
.display-flex {
  display: flex;
}
.dark-1 {
  color: #131313;
}
.dark-2 {
  color: #424242;
}
.dark-3 {
  color: #727272;
}
.orange {
  color: #ff900e;
}
.color-white {
  color: white;
}
.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}
.header-padding {
  padding: 50px 240px;
}
.btn {
  background-color: #ff900e;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  width: 180px;
  height: 64px;
  justify-content: center;
  color: white;
}
.btn a {
  text-decoration: none;
  color: white;
}
.fw {
  font-weight: 400;
}

/* Header section styles */

/* style navbar */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-size: 3rem;
  font-weight: bold;
}
.nav-links {
  list-style: none;
  width: 477px;
  height: 26px;
  justify-content: space-between;
}
.nav-links a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

/* Style banner */
.banner {
  flex-direction: column;
  align-items: center;
}
.banner-content {
  width: 862px;
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.banner-tittle {
  font-size: 4rem;
  font-weight: bold;
}
.banner-description {
  font-size: 1rem;
  line-height: 16px;
}
.banner .btn {
  margin-top: 32px;
}
.banner-img {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  border-radius: 8px;
}

/* Main section style */

/* Style quick-feature */
.quick-feature {
  gap: 73px;
  margin: 85px 301px 130px;
}
.feature-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  border-radius: 8px;
}
.feature-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feature-tittle {
  font-size: 3rem;
  margin-bottom: 24px;
}
.feature-description {
  font-size: 1rem;
  margin-bottom: 32px;
}

/* feature-two section */
.feature-two {
  gap: 146px;
  justify-content: center;
  margin-top: 169px;
}
.feature-two > .content > p {
  width: 586px;
  height: 78px;
  margin-bottom: 30px;
}
.feature-two-box {
  width: 586px;
  height: 171px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 20px;
}
.feature-two-box h4 {
  font-size: 20px;
  font-weight: bold;
}
.feature-two-box .box-content {
  padding: 30px 42px 30px 30px;
}
.feature-two > .image {
  flex-direction: column;
}
.feature-two > .image > button {
  width: 342px;
  height: 200px;
  margin-top: -120px;
  margin-left: -92px;
  margin-bottom: 130px;
  padding: 15px;
}
.feature-two > .image > button > h1 {
  font-size: 4.25rem;
  font-weight: bold;
}

/* Style some-facts */
.facts-boxes {
  justify-content: space-evenly;
}
.box {
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 242px;
  height: 242px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
.box .number {
  font-size: 3rem;
  font-weight: 600;
}
.box .work {
  font-size: 20px;
  font-weight: 600;
}
.facts-content {
  margin-left: 240px;
}
.facts-tittle {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 24px;
}
.facts-description {
  width: 512px;
  height: 52px;
}

/* some-sponspors section */
.sponspors-content {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 180px;
}
.sponspors-img img {
  filter: grayscale(100%);
}
.sponspors-img {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

/* footer section */
.foot {
  width: 1440px;
  height: 100px;
  border-radius: 8px;
  margin: 130px auto;
}
.foot > p {
  padding: 39px 410px;
  font-size: 1.25rem;
}

/* Responsive for small devices */
@media screen and (max-width: 576px) {
  * {
    margin: 0px 1px;
  }
  /* Header section  */
  .header-padding {
    padding: 0px;
  }
  .navbar {
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
  }
  .nav-links {
    justify-content: space-between;
    width: 80vw;
    padding: 0px;
  }
  .banner-content {
    width: 80vw;
    margin-top: 40px;
  }
  .banner-tittle {
    font-size: 40px;
  }
  .banner-img {
    width: 100%;
    margin-bottom: 20px;
  }

  /* Main section */

  /* quick-feature section */
  .quick-feature {
    flex-direction: column;
    margin: 50px auto;
    gap: 0;
  }
  .feature-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .feature-img img {
    width: calc(50vw - 7px);
  }
  .feature-content {
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  /* feature-two section */
  .feature-two {
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;
  }
  .feature-two > .content > h3 {
    text-align: center;
  }
  .feature-two > .content > p {
    width: auto;
    height: auto;
    text-align: center;
  }
  .feature-two-box {
    width: 95vw;
  }
  .feature-two > .image > button {
    margin: auto;
    margin-top: -60px;
    margin-bottom: 50px;
    height: auto;
  }

  /* some-facts section */
  .facts-content {
    margin-left: 0px;
    text-align: center;
  }
  .facts-description {
    width: 90vw;
    text-align: center;
    margin: 0px auto;
  }
  .facts-boxes {
    flex-direction: column;
    align-items: center;
  }
  .box {
    margin-top: 30px;
  }

  /* our-sponspors section */
  .sponspors-content {
    text-align: center;
    margin: 80px auto;
  }
  .sponspors-img {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  /* footer section */
  .foot {
    width: 95vw;
    height: 100px;
    border-radius: 8px;
    margin: 40px auto;
  }
  .foot > p {
    padding: 39px 0px;
    font-size: 1rem;
    text-align: center;
  }
}

/* Responsive for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  * {
    margin: 0px 1px;
  }
  /* Header section  */
  .header-padding {
    padding: 0px;
  }
  .navbar {
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
  }
  .nav-links {
    justify-content: space-between;
    width: 80vw;
    padding: 0px;
  }
  .banner-content {
    width: 80vw;
    margin-top: 40px;
  }
  .banner-tittle {
    font-size: 40px;
  }
  .banner-img {
    width: 100%;
    margin-bottom: 20px;
  }

  /* Main section */

  /* quick-feature section */
  .quick-feature {
    flex-direction: column;
    margin: 50px auto;
    gap: 0;
  }
  .feature-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .feature-img img {
    width: calc(50vw - 7px);
  }
  .feature-content {
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  /* feature-two section */
  .feature-two {
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;
  }
  .feature-two > .content > h3 {
    text-align: center;
  }
  .feature-two > .content > p {
    width: auto;
    height: auto;
    text-align: center;
  }
  .feature-two-box {
    width: 95vw;
  }
  .feature-two > .image > button {
    margin: auto;
    margin-top: -60px;
    margin-bottom: 50px;
    height: auto;
  }

  /* some-facts section */
  .facts-content {
    margin-left: 0px;
    text-align: center;
  }
  .facts-description {
    width: 90vw;
    text-align: center;
    margin: 0px auto;
  }
  .facts-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .box {
    margin-top: 30px;
  }

  /* our-sponspors section */
  .sponspors-content {
    text-align: center;
    margin: 80px auto;
  }
  .sponspors-img {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  /* footer section */
  .foot {
    width: 95vw;
    height: 100px;
    border-radius: 8px;
    margin: 40px auto;
  }
  .foot > p {
    padding: 39px 0px;
    font-size: 1rem;
    text-align: center;
  }
}
